@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', Meiryo, sans-serif;
  font-weight: 300;
}

code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}
